<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
<head>
    <title>Sportslist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<h1>Keep track on your exercises!</h1>

	<div class="col-md-4">
		<h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]] ! Have fun working out!</h3>
	</div>
	<div class="col-md-4" style="padding:20px 0">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-sm btn-danger"/>
		</form>
	</div>
	<div>
	<form class="form-inline my-2 my-lg-0" th:action="@{/search}" method="post">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="searchCriteria">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
	</div>

<table class="table table-striped">
<tr>
<th>Exercise</th>
<th>Place</th>
<th>Date</th>
<th>Minutes</th>
<th>Action</th>
<th></th>
<th></th>
</tr>

<tr th:each="sport : ${sports}">
	<td th:text=${sport.exercise}></td>
	<td th:text=${sport.place}></td>
	<td th:text=${sport.date}></td>
	<td th:text=${sport.minutes}></td>
	<td th:text=${sport.action.name}></td>
	<td><a class="btn btn-danger" th:href="@{/delete/{id}(id=${sport.id})}">Delete</a></td>
	<td><a class="btn btn-warning" th:href="@{/editsport/{id}(id=${sport.id})}">Edit</a></td> 
</tr>

</table>
	 <a class="btn btn-success" href="/addsport">Add Sport</a>    	

</body>
</html>